# Ignorar la carpeta de compilación
target/

# Ignorar archivos temporales de tu IDE
*.iml
.idea/
*.classpath
*.project
*.settings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de control de versiones
.git
.gitignore

# Variables de entorno (si decides usarlas en el futuro)
.env